<!DOCTYPE html>
<html>

<head>
    <title>GATO365 Learning Center Tech Blog</title>
    <style>
        /* Styles for the nav bar */
        .nav {
            display: flex;
            justify-content: flex-start;
            padding: 20px;
            background-color: #f2f2f2;
        }

        #post-header {
            display: flex;
            justify-content: space-between;
            padding: 0px;
            border-bottom: 1px solid #4b4b4b;
            background-color: black;
            font-size: large;
            margin: 0px;
        }


        .nav a {
            font-size: 1.3rem;
            color: #4b4b4b;
            text-decoration: none;
            padding: 0 10px;
        }

        /* Styles for the post */
        #post {
            padding: 20px;
            font-size: 1.2rem;
            border: 1px solid #4b4b4b;
        }

        #post h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #4b4b4b;
        }

        #post p {
            color: #4b4b4b;
            line-height: 1.5rem;
        }
    </style>
</head>

<body>


    {{{body}}}


</body>

</html>