<div class="tile is-ancestor has-background-grey-dark hero_height">
  <div class="tile is-vertical is-5">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification ">
          <p class="title">Welcome Back {{user.username}}</p>
        </article>
        <article class="tile is-child notification ">
          <p class="title date_holder"></p>
          <p class="subtitle time_holder"></p>
        </article>
        <article class="tile is-child notification ">
          <button id="get_exercise" class="button is-normal is-responsive is-primary level-right">
              Exercise
          </button>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">

    </article>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
