  <div class="nav">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </div>

<h1>Title Name {{title}}  </h1>
<form id = "login-up" action="signup.php" method="post">
    <h2>Sign Up</h2>
    <label for="username">Username:</label>
    <br />
    <input type="text" name="username" id="username" />
    <br />

    <label for="password">Password:</label>
    <br />
    <input type="password" name="password" id="password" />
    <br />
    <input type="submit" value="Sign Up!" />
    <br />
    <a href="login.php">Login!</a>
  </form>
  
<a href="/"> Back to Main</a>
